{% extends "home.html" %}
{% load static %}

{% block titulo %}
    Cholito
{% endblock titulo %}
{% block aside %}
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview active menu-open">
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>Adoptar</span>
                        <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                    </a>
                    <ul class="treeview-menu c-filtro-adoptar">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Tipo
                            </label>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Perro</option>
                                <option>Gato</option>
                                <option>Loro</option>
                                <option>Vaca</option>
                                <option>Caballo</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Edad
                            </label>
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>0-1</option>
                                <option>2-4</option>
                                <option>4-10</option>
                            </select>
                        </div>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'denuncia:denunciar' %}">
                        <i class="fa fa-bullhorn"></i>
                        <span>Denunciar</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ong:onghome' %}">
                        <i class="fa fa-star"></i>
                        <span>ONG</span>
                    </a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock aside %}

{% block aplicacion %}
    <img src="{% static 'distrib/img/mapa.png' %}" style="width: 100%;" usemap="#locationsmap">

    <map name="locationsmap">

    </map>
{% endblock aplicacion %}